a{
  text-decoration: none;
  color: #222;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color:#fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
.content{
  width: 70%;
  margin: 0 auto;
}

a{
  border: solid 1px #222;
  box-sizing: content-box;
  padding: 3px;
  margin: -1px 0;
  box-shadow: -2px 3px 3px -1px black;
}
@media print {
  a{
    text-decoration: none;
    color: #222;
  }
  table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }
  .content{
    width: 70%;
    margin: 0 auto;
  }
}
