<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Optins</title>
  <link rel="stylesheet" href="../assest/css/tabela.css" media="screen" title="no title">
  <style media="screen">
  .display-btn{
    position: absolute;
    display: flex;
    flex-direction: column;
  };
  </style>
</head>
<body>
<div class="display-btn">
  <a href="https://search-g.glitch.me/resert">RESERT</a><br>
  <a href="https://search-g.glitch.me/remove_all">CLEAR ALL</a>
</div>

  <div class="content">
    <h3 id="site-url">SITE</h3>
    <table id="t01" style="background-color:#fff;">
      <tr>
        <th>Nº</th>
        <th>PALAVRA</th>
        <th>DATA</th>
        <th>POSIÇÃO</th>
      </tr>

    </table>
  </div>

  <script src="../assest/js/newtab.js" charset="utf-8"></script>
</body>
</html>
