<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Options</title>
    <style media="screen">
      #btn-optins-page{width: 100px}
      body{
        min-width: 300px;
      }
      textarea{
        width: 90%;
        margin: 5px 0;
      }
      input{
        width: 90%;
        margin: 5px 0;
      }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  </head>
  <body>
    <button id="btn-optins-page" type="button" name="button"><i class="fa fa-cog fa-2"></i> Opitions</button>
    <h2>Formulário</h2>
    <form class=""  method="post">
      <input id="url" type="text" name="url" value="" placeholder=" exemplo.com.br">
      <textarea id="palavras" rows="3" placeholder='Palavra chaves
Palavra chaves
Palavra chaves'></textarea>
      <button id="sub" type="button" name="button"><i class="fa fa-check fa-2"></i> confirmar</button>
    </form>

    <script src="../assest/js/popup.js"></script>
  </body>
</html>
